<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybais.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kedu.nodazi.mapper.BoardMapper">

	<insert id="create">
		insert into board(b_title
						, b_content
                    	, u_id
                    	, b_regdt)
			   		values(#{b_title}
						 , #{b_content}
                    	 , #{u_id}
                    	 , now())
	</insert>
	
	<select id="read"
			resultType="com.kedu.nodazi.dto.BoardDto">
		select b_no
			 , b_title
			 , b_content
			 , b_regdt
			 , b_viewcnt
			 , u_id
			 , r_cnt
  		  from board
 		 where b_no = #{b_no}
	</select>
	
	<update id="update">
		update board
   		   set b_title = #{b_title}
			 , b_content = #{b_content}
			 , u_id = #{u_id}
			 , b_updatedt = now()
		 where b_no = #{b_no}
	</update>
	
	<delete id="delete">
		delete from board
		 where b_no = #{b_no}
	</delete>
	
	<select id="list"
			resultType="com.kedu.nodazi.dto.BoardDto">
		<![CDATA[
		select b_no
			 , b_title
			 , b_content
			 , u_id
			 , b_regdt
			 , b_viewcnt
			 , r_cnt
		  from board
		 where b_no > 0
		 order by b_no desc, b_regdt desc
		 limit #{page}, 10
		 ]]>
	</select>
	
	<select id="listCriteria"
			resultType="com.kedu.nodazi.dto.BoardDto">
		<![CDATA[
		select b_no
			 , b_title
			 , b_content
			 , u_id
			 , b_regdt
			 , b_updatedt
			 , b_viewcnt
			 , r_cnt
		  from board
		 where b_no > 0
		 order by b_no desc, b_regdt desc
		 limit #{pageStart}, #{perPageNum}
		]]>
	</select>
	
	<select id="countPaging"
			resultType="int">
		<![CDATA[
		select count(b_no)
		  from board
		 where b_no > 0
		]]>
	</select>
	
	<select id="listSearch"
			resultType="com.kedu.nodazi.dto.BoardDto">
		<![CDATA[
		select *
		  from board
		 where b_no > 0
		]]>
		
		<include refid="search"></include>
		
		 order by b_no desc
		 limit #{pageStart}, #{perPageNum}
	</select>
	
	<select id="listSearchCount"
			resultType="int">
		<![CDATA[
		select count(b_no)
		  from board
		 where b_no > 0
		]]>
		
		<include refid="search"></include>
	</select>
	
	<update id="updateReplyCnt">
		update board
		   set r_cnt = r_cnt + #{amount}
		 where b_no = #{b_no}
	</update>
	
	<update id="updateViewCnt">
		update board
		   set b_viewcnt = b_viewcnt + 1
		 where b_no = #{b_no}
	</update>
	
	<insert id="addAttach">
		insert into attach(fullName
						 , b_no)
					values(#{fullName}
						 , LAST_INSERT_ID())
	</insert>
	
	<select id="getAttach"
			resultType="string">
		select fullName
		  from attach
		 where b_no = #{b_no}
		 order by b_regdt
	</select>
	
	<delete id="deleteAttach">
		delete from attach
		 where b_no = #{b_no}
	</delete>
	
	<insert id="replaceAttach">
		insert into attach(fullName
						 , b_no)
					values(#{fullName}
						 , #{b_no})
	</insert>
	
	<sql id="search">
	<if test="searchType != null">
		<if test="searchType == 't'.toString()">
			and b_title like CONCAT('%', #{keyword}, '%')
		</if>
		<if test="searchType == 'c'.toString()">
			and b_content like CONCAT('%', #{keyword}, '%')
		</if>
		<if test="searchType == 'w'.toString()">
			and u_id like CONCAT('%', #{keyword}, '%')
		</if>
		<if test="searchType == 'tc'.toString()">
			and (b_title like CONCAT('%', #{keyword}, '%')
			OR b_content like CONCAT('%', #{keyword}, '%'))
		</if>
		<if test="searchType == 'cw'.toString()">
			and (b_content like CONCAT('%', #{keyword}, '%')
			OR u_id like CONCAT('%', #{keyword}, '%'))
		</if>
		<if test="searchType == 'tcw'.toString()">
			and (b_title like CONCAT('%', #{keyword}, '%')
			OR b_content like CONCAT('%', #{keyword}, '%')
			OR u_id like CONCAT('%', #{keyword}, '%'))
		</if>
	</if>
	</sql>
	
</mapper>