<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybais.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kedu.nodazi.mapper.mangerMapper">

	<select id="paymentListSearch" resultType="com.kedu.nodazi.dto.PaymentDto">
		select p.u_id
			 , p.p_seq
     		 , p.p_price
     		 , p.p_dep_bank
     		 , p.p_dep_nm
     		 , p.p_regdt
     		 , p.p_depdt
     		 , p.p_enddt
  		  from user as u inner join payment as p
 		 where u.u_id = p.u_id
		<include refid="paySearch"></include>
 		 order by p.p_regdt desc
 		 limit #{pageStart}, #{perPageNum}
	</select>
	
	<select id="paymentListSearchCount" resultType="int">
		  select count(p.u_id) 
		  from user as u inner join payment as p
 		 where u.u_id = p.u_id 
		<include refid="paySearch"></include>
	</select>
	
	<sql id="paySearch">
		<if test="searchType != null">
			<if test="searchType == 'i'.toString()">
				and p.u_id like CONCAT('%', #{keyword}, '%')
			</if>
			<if test="searchType == 'n'.toString()">
				and p.p_dep_nm like CONCAT('%', #{keyword}, '%')
			</if>
			<if test="searchType == 'b'.toString()">
				and p.p_dep_bank like CONCAT('%', #{keyword}, '%')
			</if>
			<if test="searchType == 'inb'.toString()">
				and ( p.u_id like CONCAT('%', #{keyword}, '%')
				OR
				p.p_dep_nm like CONCAT('%', #{keyword}, '%')
				OR
				p.p_dep_bank like CONCAT('%', #{keyword}, '%'))
			</if>
		</if>
	</sql>
	
	
	<update id="updatePaymentStatus">
		update payment
  		   set p_depdt = now()
		<include refid="condition"></include>
         where u_id = #{u_id}
           and p_seq = #{p_seq} ;
	</update>
	
	<sql id="condition">
		<if test="p_price != null">
			<if test="p_price == 10000">
				, p_enddt = date_add(now(),interval 30 day)
			</if>
			<if test="p_price == 30000">
				, p_enddt = date_add(now(),interval 90 day)
			</if>
			<if test="p_price == 60000">
				, p_enddt = date_add(now(),interval 180 day)
			</if>
			<if test="p_price == 120000">
				, p_enddt = date_add(now(),interval 360 day)
			</if>
		</if>
	</sql>
	
	<select id="userListSearch" resultType="com.kedu.nodazi.dto.UserDto">
		select u_id
	 		 , u_nm
     		 , u_email
     		 , u_mobile
     		 , u_regdt
     		 , u_withdraw
  		  from user
  		 where 1=1
		<include refid="userSearch"></include>
 		 order by u_regdt desc
 		 limit #{pageStart}, #{perPageNum}
	</select>
	
	<select id="userListSearchCount" resultType="int">
		  select count(u_id) 
		    from user
 		   where 1=1 
		<include refid="userSearch"></include>
	</select>
	
	<sql id="userSearch">
		<if test="searchType != null">
			<if test="searchType == 'inm'.toString()">
				and ( u_id like CONCAT('%', #{keyword}, '%')
				OR
				u_nm like CONCAT('%', #{keyword}, '%')
				OR
				u_mobile like CONCAT('%', #{keyword}, '%'))
			</if>
			<if test="searchType == 'i'.toString()">
				and u_id like CONCAT('%', #{keyword}, '%')
			</if>
			<if test="searchType == 'n'.toString()">
				and u_nm like CONCAT('%', #{keyword}, '%')
			</if>
			<if test="searchType == 'm'.toString()">
				and u_mobile like CONCAT('%', #{keyword}, '%')
			</if>
		</if>
	</sql>
	
</mapper>